<button (click)="startTimer()">Start Timer</button>
<hr>
<button (click)="stopTimer()">Stop Timer</button>

<p #myElement>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloribus vitae voluptates.
  Consectetur fugit laboriosam nam praesentium tempora? Earum fugiat in modi nemo, nobis placeat qui similique suscipit!
  Ad aliquid asperiores atque consequuntur deleniti doloribus expedita fuga, impedit ipsam magni modi nemo officiis
  pariatur perspiciatis, quae quaerat quam quas quo sapiente sed sit tempora voluptatibus? Blanditiis consequuntur nobis
  quis. Ab accusamus blanditiis fugiat maxime modi neque similique soluta vero. Adipisci amet cumque dolore doloribus id
  nesciunt odio repellendus veritatis? A aliquam assumenda atque cum deserunt distinctio eligendi est excepturi expedita
  iusto libero molestiae molestias nemo nihil nostrum quas quo recusandae sit, totam voluptas. Ad assumenda at atque
  beatae blanditiis commodi cupiditate dolor ea eligendi esse id illum libero, magni maiores modi molestias neque nisi
  non nostrum numquam odit omnis possimus quam quia quod quos reiciendis repudiandae sapiente sint soluta suscipit ullam
  velit veritatis? Alias architecto, error esse explicabo impedit nostrum optio pariatur quae. Adipisci alias aliquam,
  assumenda consequatur cupiditate dolorem ex iste natus nesciunt porro provident quidem ratione repellat, suscipit
  voluptate! A ad adipisci animi aspernatur assumenda culpa dolores dolorum earum incidunt magnam nesciunt non obcaecati
  officia pariatur, placeat quia quis, quos reiciendis sit tempora veniam veritatis voluptates! Ad aperiam aspernatur
  assumenda blanditiis consequatur dolorum fugit impedit laudantium molestiae odit quia quisquam quod tenetur, vero
  voluptatibus? Adipisci autem dolore earum est hic incidunt laudantium magnam natus obcaecati pariatur, quibusdam,
  temporibus veniam voluptates. Animi consequatur eveniet, ex iste iusto minus nihil pariatur quae quos reprehenderit,
  soluta tenetur totam, voluptatibus? Amet beatae commodi consequuntur debitis deserunt dicta facere id incidunt iste
  minus nam odio pariatur praesentium quidem quis repellat vel, velit voluptatum! A, beatae dolorem enim error est id
  impedit maxime minima minus officiis, optio placeat quos sit veniam veritatis, vero voluptatem voluptatibus! Autem
  consectetur earum excepturi facilis iure labore neque porro praesentium sed sequi. Aliquam animi aut blanditiis
  consequuntur, delectus, dolorem ducimus eaque earum illum, ipsam iusto maxime non numquam porro possimus quidem
  repudiandae rerum sapiente ullam voluptate. Adipisci asperiores, atque deserunt dignissimos eveniet nobis non quae.
  Architecto facilis, nostrum. Adipisci aliquid amet blanditiis, deleniti distinctio dolorum ea eius esse excepturi
  exercitationem fugit, illo ipsam itaque laboriosam laborum minus mollitia necessitatibus non odio perspiciatis
  possimus provident qui ratione saepe sequi temporibus vitae voluptate. Aliquid, aperiam aut delectus excepturi minima
  neque nulla officiis omnis quis quo repudiandae sapiente velit. Aperiam commodi consectetur eligendi ex, harum, ipsam
  ipsum minus neque nostrum odio, officia pariatur possimus quisquam suscipit tenetur vel velit. Adipisci amet,
  cupiditate dolore dolorem eius enim est excepturi exercitationem facere ipsam iure iusto laborum libero molestiae
  nesciunt nihil nisi odit perspiciatis porro quia quibusdam quisquam quo, recusandae saepe sed sunt, tempora
  voluptates! Asperiores atque dolore laudantium provident rerum. Assumenda commodi consequatur deleniti dolore eligendi
  facilis molestiae quo rem tempore voluptate! Ab autem nostrum quaerat quos! Accusantium alias beatae corporis cumque
  deserunt dolorem, doloribus est eveniet id inventore iste itaque laboriosam mollitia nihil repellat vel voluptas!
  Architecto assumenda at aut blanditiis impedit quae quam quas qui quidem quis, sequi, similique suscipit unde
  veniam.</p>
